html, body {
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

.md-list{
    padding-top: 0px;
}

#toaster {
  position: fixed;
  top: 56px;
  height: 66px;
  right: 0;
  width: 50%;
}