<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
  <head>
    <title>Single page test book shop</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="app.css"/>
  </head>
  <body layout="column" ng-controller="sideNavController as contr"  layout="row" ng-cloak="">

      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" hide-gt-sm aria-label="Settings" ng-click="contr.openLeftMenu()">
            <md-icon md-svg-icon="img/ico/ic_menu_white_24px.svg"></md-icon>
          </md-button>
          <h2>
            <span>Toolbar of Books shop</span>
          </h2>
          <span flex=""></span>
          
          <md-button class="md-icon-button" aria-label="More" ng-click="contr.showActionToast()">
            <md-icon md-svg-icon="img/ico/ic_local_grocery_store_white_24px.svg"></md-icon>
          </md-button>
          {{contr.getTotal()}} (USD)
          <span flex=""></span>
        </div>
              
      </md-toolbar>

      <div id="sideNavContainer">
         <md-sidenav md-component-id="left" class="md-sidenav-left"> <!-- left block -->
          <md-subheader class="md-no-sticky">{{contr.getTotal()}} line item (with hover)</md-subheader>
           <md-list flex>
              <md-subheader class="md-no-sticky">Left bar</md-subheader>
              <!-- -->
                <md-list-item class="md-3-line" ng-repeat="book in contr.getBooks() track by book.id" >
                  <img ng-src="img/{{book.img}}?{{$index}}" class="md-avatar" alt="{{book.name}}" ng-click="null" />
                  <div class="md-list-item-text" layout="column">
                    <h3>{{ book.name }}</h3>
                    <p>{{  book.desc }}</p>
                    <label>Price this book: {{ book.price}} (USD)</label>
                    <div ng-controller="additemshopcart as addit" layout="row layout-xs">
                      <label >Count {{ book.countThisBook }} </label>
                      <md-button class="md-raised" ng-click="addit.addmore(book.id)">+</md-button>
                      <md-button class="md-raised" ng-click="addit.removeone(book.id)">-</md-button>
                    </div>

                  </div>

              </md-list-item>
                   <md-button ng-click="contr.testButton()">+</md-button>
           </md-list> <!-- end flex -->
         </md-sidenav> <!--//end left block -->

         <md-content > <!-- main -->
         <div style="float:right;width:80%;height:55px;" id="toasterplace"></div>
                <book-page>this is test form page <b>!!!!</b></book-page>

            <md-button ng-click="contr.openLeftMenu()">Open ShopCart</md-button>
         </md-content> <!-- //end main -->
      </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    
    <script src="app.js"></script>
    <script src="site-manager/site-manager.component.js"></script>
    <script src="core/core.module.js"></script>
    <script src="book-page/book-page.component.js"></script>
  </body>
</html>