<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Chekout</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/ico/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="contact information"> <!-- 1-->
          <md-content class="md-padding">
            <h5 class="md-display-1">Your information</h5>
                <md-content layout-gt-sm="row" layout-padding>
                  <div>
                    <md-input-container>
                      <label>Firts Name</label>
                      <input ng-model="user.firstName">
                    </md-input-container>

                    <md-input-container>
                      <label>Last Name</label>
                      <input ng-model="user.lastName">
                    </md-input-container>

                    <md-input-container>
                      <label>Email</label>
                      <input ng-model="user.email" type="email">
                    </md-input-container>
                </div>
              </md-content>

              <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="user.address">
              </md-input-container>

              <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>City</label>
                    <input ng-model="user.city">
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>State</label>
                    <md-select ng-model="user.state">
                      <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                        {{state.abbrev}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Postal Code</label>
                    <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                          required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                    <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">You must supply a postal code.</div>
                      <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                        code.
                      </div>
                      <div ng-message="md-maxlength" class="my-message">
                        Don't use the long version silly...we don't need to be that specific...
                      </div>
                    </div>
                  </md-input-container>
                </div>

          </md-content>
        </md-tab>
        <md-tab label="credit cart info"><!-- 2-->
          <md-content class="md-padding">
            <h5 class="md-display-1">Your Credit card Info</h5>
            
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Card Number</label>
                    <input name="cardNumber" ng-model="user.cardNumber" placeholder="12345"
                          required ng-pattern="/^[0-9]{13}$/" md-maxlength="13">

                    <div ng-messages="userForm.cardNumber.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">You must supply a postal code.</div>
                      <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                        code.
                      </div>
                      <div ng-message="md-maxlength" class="my-message">
                        Don't use the long version silly...we don't need to be that specific...
                      </div>
                    </div>
            </md-input-container>


          </md-content>
        </md-tab>
         <md-tab label="three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab> <!-- -->
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')" >
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;" >
        Useful
      </md-button>
    </md-dialog-actions>
   
  </form>
</md-dialog>